<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
<h:head>
<style>
	.order-table{
		border:1px black solid;
		align:center;
	}
	.order-table-odd{
		background: #EEE;
	}
	.order-table-header{
		font-weight:bold;
	}
</style>

</h:head> 
<body> 

<h1 align="center">Response Page</h1>
<p>Hello #{user.firstName}.</p>
<p> I think your last name is #{user.lastName}.</p>


<h:dataTable value="#{orders.orders}" var="o" styleClass="order-table" headerClass= "order-table-header" rowClasses = "order-table-odd, order-table-even">
	<h:column>
		<f:facet name="header">Order #</f:facet>
		#{o.orderNo}
	</h:column> 
	
	<h:column>
		<f:facet name="header">Product Name</f:facet>
		#{o.productName}
	</h:column> 
	
	<h:column>
		<f:facet name="header">Price</f:facet>
		#{o.price}
	</h:column> 
	
	<h:column>
		<f:facet name="header">Quantity</f:facet>
		#{o.quantity}
	</h:column> 

</h:dataTable>

<h:form align="center">
	<h:commandButton action="TestForm.xhtml" value="Login" />
</h:form>

</body> 
</html>